{{> header}}

{{#if credentials.username}}
    <form action='/login' method='GET'>
        <button class='login' type='submit'>Write something!</button>
    </form>
{{else}}
    <form action='/login' method='GET'>
        <button class='login' type='submit'>Login here using Github!</button>
    </form>
{{/if}}
